body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	/*make a link not follow*/
}

button {
	padding: 10px;
	border: none;
	background-color: inherit;
	outline: none;
}

li {
	list-style: none;
	display: block;
}

nav {
	background-color: white;
}

p {
	font-family: 'Encode Sans', sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin: 10px;
}

.background	{
	background: url(../img/bg1.jpg) no-repeat top center / 100%;
	background-size: cover;
	position: relative;
	height: 800px;
}

.dropDown {
	position: absolute;
	top: 67px;
	visibility: hidden;
	box-shadow: 1px 1px 2px 0px grey;
	padding: 0;
	opacity: 0;
	width: 100px;
	background-color: white;
	transform: translateY(-20px);
  z-index: -2;
  transition: all .3s ease-in-out 0s;
}

.introFooter {
	position: absolute;
	background: rgba(24,142,86,0.74);
	height: 70px;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.introFooterForm input {
	line-height: 20px;
	position: relative;
}

.navBar{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:1165px;
	margin: 0 auto;
}

.navButtonList {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.navLogoWrap img{
	height: 70px;
	margin: 0 60px 0 0;
}

.navLogoWrap:hover .logoEffectWrap{
	transition: all 2s ease;
	left:200px;
}

.logoEffectWrap {
	display: flex;
	position: absolute;
	height: 60px;
	left: -200px;	
}

.logoEffectRight{
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	height: 60px;
	width: 100px;
}

.logoEffectMid{
	background: white;
	width: 10px;
	height: 60px;
}

.logoEffectLeft{
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	height: 60px;
	width: 100px;
}

.navBtn{
	position: relative;
	z-index: 1;
	transition: all 0.3s ease-in-out 0s, visibility 0.3s linear 0.3s, z-index 0s linear 0.01s;
	display: inline-block;
	flex: 0 0 auto;
	background-color: white;
}

.navBtn a {
	padding-bottom: 50px;
	padding-top: 40px;
}

.navBtn:hover {
	color: #a5a4a3;
	transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.navBtn:hover .dropDown{
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
