body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	padding: 10px 16px 10px 10px;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	/*make a link not follow*/
}

button {
	padding: 10px;
	border: none;
	background-color: inherit;
	outline: none;
}

input {
	display: block;
}

li {
	list-style: none;
	display: block;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background-color: white;
}

form {
	padding: 20px;
	display: inline-block;
}

p {
	font-family: 'Encode Sans', sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin: 10px;
}

.background	{
	background: url(../img/bg1.jpg) no-repeat top center / 100%;
	background-size: cover;
	position: relative;
	height: 900px;
}

.contact {
	position: relative;
	display: block;
	text-align: center;
}

.content {
	display: flex;
}

.content img{
	height: 600px;
}

.contentTextWrap {
	position: relative;
	width: 100%;
}

.contentWrap {
	position: relative;
	max-width:1165px;
	margin: 0 auto;
}

.contentWrap h1 {
	text-align: center;
	margin: 40px 0;
}	

.dropDown {
	position: absolute;
	top: 67px;
	visibility: hidden;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	padding: 0;
	opacity: 0;
	width: 100px;
	background-color: white;
	transform: translateY(-20px);
  transition: all .3s ease-in-out 0s;
}

.introFooter {
	position: absolute;
	background: rgba(24,142,86,0.74);
	height: 70px;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.introFooterForm input {
	line-height: 20px;
	position: relative;
}

.mainWrapper {
	position: relative;
	margin-top: 74px;
}

.navBar{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:1165px;
	margin: 0 auto;
}

.navButtonList {
	display: flex;
	margin: 0;
	padding: 0;
}

.navLogoWrap img{
	height: 70px;
	margin: 0 60px 0 0;
}

.navLogoWrap:hover .logoEffect{
	transition: all 2s ease;
	left:200px;
}

.logoOverflowCheck {
	overflow-x:hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}

.logoEffect {
	pointer-events: none;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 48%, white 50%, rgba(255,255,255,1) 52%,rgba(255,255,255,0) 100%);
	position: absolute;
	left: -200px;	
	height: inherit;
	width: 200px;
}

.navBtn{
	position: relative;
	z-index: 1;
	transition: all 0.3s ease-in-out 0s, visibility 0.3s linear 0.3s, z-index 0s linear 0.01s;
	flex: 0 0 auto;
	background-color: white;
}

.navBtn a {
	position: relative;
	padding-bottom: 50px;
	padding-top: 40px;
}

.navBtn:hover .logoEffect{
	transition: all 2s ease;
	left:200px;
}

.navBtn:hover .dropDown{
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.stripes {
	position: absolute;
	width: 100%;
	background: linear-gradient(to bottom, white 20%, rgb(242, 242, 242) 50%, white);
	height: 900px;
	transform: skewY(-6deg);
  transform-origin: 0;

}